@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: black;
  overflow-x: hidden;
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,;
}

@font-face {
  font-family: 'Saitama';
  src: url('/fonts/saitama.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}